<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Stay one step ahead of malicious links with LinkAlert"
    />
    <link rel="apple-touch-icon" href="/static/logo192.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>LinkAlert</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="p-10 grid grid-cols-1 gap-5 justify-center items-center md:grid-cols-3 lg:grid-cols-4"
    >
      <img src="/static/images/linkalert-logo.png" alt="Logo" class="w-fit" />
      <div class="container">
        <h1 class="text-3xl font-bold text-white md:col-span-2">
          Educating About Online Security
        </h1>
      </div>
    </nav>

    <main class="container mx-auto mt-6 p-4 bg-white rounded-lg shadow-md">
      <!-- Blog Post 1 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold mb-2">
          Understanding the Dangers of Spam Links
        </h2>
        <p class="text-sm text-gray-600">Published on November 10, 2023</p>
        <p>
          Spam links, also known as malicious or phishing links, pose
          significant dangers in the digital world. Understanding these dangers
          is essential for safeguarding your online security.
        </p>
        <a href="blog_post_1.html" class="text-blue-500 hover:underline"
          >Read More</a
        >
      </div>

      <!-- Blog Post 2 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold mb-2">
          Protecting Your Online Privacy: Tips and Best Practices
        </h2>
        <p class="text-sm text-gray-600">Published on December 5, 2023</p>
        <p>
          In an age of increased online activity, safeguarding your online
          privacy is of paramount importance. This blog post provides essential
          tips and best practices to help you protect your personal information.
        </p>
        <a href="blog_post_2.html" class="text-blue-500 hover:underline"
          >Read More</a
        >
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-5 bg-blue-500 text-white text-center p-4">
      <div class="container mx-auto">
        <p>&copy; 2023 Link Alert</p>
      </div>
    </footer>
  </body>
</html>
